.frame {
    background-image: url("assets/borderB-c.jpg");
    background-size: 100% 100%;
}
.picture {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.description {
    padding: 10px 150px;
}
.firstCol {
    padding-left: 150px;
}
.mainLogo {
    margin-top: 100px;
}
.text {
    color: #fe8395;
}
.secondCol {
    padding: 20px;
}
